
.fondo, html{
    background-image:url('../Img/fondo2.jpg' ) ;
    width: 100%;
    height: 100vh; /*vh es 100 del dispositivo en que se habra la pagina web*/
    background-size: cover;
    background-position: center;
    
}

.comida{
 
    padding: 70px; margin: 10px; border: 0px ; float: right; width: 600px; height: 800px;
    position: left;
}
h1{
    font-family: "bradhitc";
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
h3{
    
    font-family: "brush-script-mt-italic";
    scroll-margin: center;
    position: absolute;
    display: flex;
    margin: 230px;
    top: 1050px;
}

.Pedidos, .menu, .reservas{
    font-family: Arial;
    color: white;
    font-size: 55px;
    line-height: 20px;
    text-align: center;
    margin: 100px;
    padding: 80px;
    scroll-margin: left;
    position: relative;
    display: flex;
    top: -550px;
    border: white 20px solid;
   width: 330px;
   height: 20px;
   text-align: center;
    
 
}

body{
    
    font-family: "Bradhitc";
    color: white;
    font-size: 45px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    scroll-margin: 0;

}
